<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :todo_text %>
  </div>

  <div class="field">
    <%= form.label :isCompleted %>
    <%= form.check_box :isCompleted, id: :todo_isCompleted %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :todo_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
